/* body{
  background-color: rgb(197, 203, 223);
}
.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0  90px 0;
  margin-top: 60px;
  background-color: rgb(197, 203, 223);
}

.sub-main{
  display:flexwq`1;
  justify-content: center;
  height: 350px;
  width: 50%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px ;
  background-color: white;
}



.b{
  margin: 30px 5px;
}



.form{
  margin-left: 10%;
  width: 80%;
} */